{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    Hello, My name is <h1>Mrinmoy Mandal</h1> I am a student of IIT Kharagpur. I am a M.Tech student of Computer Science and Data Processing. This is a sentiment based stock advisor website.
    I build this website for my project work. I am using Django as backend and Chart.js for charting. I am using Bootstrap for styling. I am using Yahoo Finance API for stock data and News API for news data.
    I am using Python for backend and HTML, CSS, JavaScript for frontend. I am using MySQL as database. Here one can virtually trade stocks and can backtest their strategy. I am using sentiment analysis to predict the stock price. I am using Natural Language Processing to analyze the news headlines sentiment.

{% endblock %}
